body > div.content > div.content > h1.title {
    margin-bottom: 20px;
}


div.content > div.content {
    padding: 30px;
    color: #FFF;
}

a#addPessoa {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #195;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

a#addPessoa:hover{
    background: #084;
}

div.content > div.content > table#pessoas {
    background: #FFF;
    color: #222;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table#pessoas > thead > tr{
    background: #048;
    color: #FFF;
}

table#pessoas > thead > tr > th {
    padding: 20px;
}

table#pessoas > tbody > tr > td {
    padding: 10px;
}

button#editar {
    background: rgb(255, 144, 16);
    padding: 10px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#editar:hover {
    background: rgb(248, 177, 95);
}

button#remover {
    background: #c01;
    padding: 10px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#remover:hover {
    background: #e12;
}

button#remover.disabled{
    background: #ccc;
}